# ------------ #
# --- GIT ---- #
# ------------ #
# ------------- #
# --- Maven --- #
# ------------- #
target/
pom.xml.*

# --------------- #
# --- Eclipse --- #
# --------------- #
.metadata
.project
.classpath
.settings
.metadata
.factorypath
test-output/
