# ------------ #
# --- GIT ---- #
# ------------ #
# ------------- #
# --- Maven --- #
# ------------- #
pom.xml.*
/*.iml
/target/
/.idea/


# --------------- #
# --- Eclipse --- #
# --------------- #
.metadata
.project
.classpath
.settings
.metadata
.factorypath
test-output/
